/* Initial body */
body {
  left: 0;
  margin: 0;
  position: relative;
}

.eportfolio_name{
  font-size: 35px;
  padding-left: 30px;
  padding-top:80px;
  width: 100%;
}

.page h2,.page p ,#slideshow_controls h, #slideshow_controls h2{
  color:rgb(160,160,160) ;
}
.page h2,#slideshow_controls h, #slideshow_controls h2{
  color:rgb(160,160,160) ;
  text-align: center;
}

.page {
  text-align:center;
}

/*portfolio name*/
.content {
    top:0px;
    position: absolute;
}

.banner{
    padding-top:40px;
    text-align: center;
}

.banner img{
    width: 100%;
}

.menu{
    position: fixed;
    top:0px;
    width:100%;
    text-align:center;
    padding-left: 40%;
}
.menu ul {
  list-style: none;
  margin: 0;
}

.menu li {
  line-height: 45px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.menu a {
  font-size: 20px;
  text-decoration: none;
}

.page{
  padding-left: 10px;
  padding-bottom: 30px;
}

.footer {
  position:fixed; 
  width:100%; 
  padding: 5px;
  color:white;
  bottom:0px;
  background-color: rgb(72,72,72) ;
  text-align: center;
}

#content {
    left:10px;
    top:10px;
    width:1000px;
}

#slide_caption, #slideshow_controls {
    position:absolute;
    left:0px;  
    width:1000px;
    padding-left: 10px;
    padding-right: 10px;  
}

#slideshow_title {
    top:0px;
    font-size: 28pt;
    font-weight: bold;
}

#slide_img{
  text-align: center;
}

#slide_caption {
    top:580px;
    font-size:24pt;
    text-align:center;
}

#play_pause_button{
  padding-left: 10px;
}

#previous_button{
  padding-left: 10px;

}
#next_button{
  padding-left: 10px;

}

#slideshow_controls{
    padding-left:10px;
    width: 100%;
    padding-bottom: 80px;
}
